{{ block title }}
    Your cards (Round {{ player.round_number }} of {{ C.NUM_ROUNDS }})
{{ endblock }}

{{ block content }}

<div class="container box">

    <table class="table">
        <tbody>
            {% for row in range(4) %}
            <tr>
                {% for col in range(8) %}
                <td style="text-align: center;">
                    <img src="{{ static 'card_back.png' }}" alt="Card Back" style="width: 75px; height: 80px;">
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<p>How many cards do you want to flip?</p>
{{ formfield 'cards_flipped' }}

{{ formfield_errors 'cards_flipped' }}

<div class="row">
    <br>
    <div class="col-md-10 text-end">
        <button id="btn_submit" class="btn btn-outline-primary btn-lg">OK, confirm my choice</button>
    </div>
</div>

{{ endblock }}


{{ block styles }}

<link rel="stylesheet" href="{% static 'global/mystyle.css' %}" />

{{ endblock }}

