{{ block title }}
<i class="fa fa-newspaper-o" aria-hidden="true"></i> News
{{ endblock }}

{{ block content }}
<div class="container box">

{{ if player.round_number < 5 }} 

{{ if player.condition != "ctrl"}} <!--  display only to treated before round 5-->

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-primary" role="alert">
    {{ news_1 }}
    </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
            <div class="alert alert-primary" role="alert">
    {{ news_2 }}
            </div>
    </div>
</div>
    
{{ endif}}

{{ else }} <!-- display to everyone after roound 4-->

<div class="row">
    <div class="col-md-6">
       {{ news_1 }}
    </div>
    <div class="col-md-6">
        {{ news_2 }}
    </div>
</div>

{{ endif }}


</div>
<div class="row">
    <div class="col-md-10 text-end">
            <br>
        <button id="btn_submit" class="btn btn-outline-primary btn-lg">Ok, continue</button>
    </div>
</div>

{{ endblock }}
{{ block styles }}

<link rel="stylesheet" href="{% static 'global/mystyle.css' %}" />

{{ endblock }}